<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Yahya mess</h2>
      <h4>Ressource humaine</h4>


    </div>

    <img src="../../../../assets/photo/49299949ggg.png">

  </div>

  <mat-divider></mat-divider>

  <h1 matSubheader>Pages</h1>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="ListD"> <mat-icon>dashboard</mat-icon>Liste des demandes</a>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="ListOffre"> <mat-icon>assignment</mat-icon>Liste des Offres</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="candidature"> <mat-icon>archive</mat-icon>liste des candidatures</a>
