<mat-nav-list>
  <div class="profile-card">
    <div class="header">
<h2>Yahya mess</h2>
<h4>Responsable opérationnel</h4>


    </div>

<img src="../../../../assets/photo/49299949ggg.png">


  </div>

<mat-divider></mat-divider>

  <h1 matSubheader>Pages</h1>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="posts"><mat-icon>note_add</mat-icon>Ajouter Demande</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="area"><mat-icon>view_array</mat-icon> Voir les demandes</a>


